db.conf
db_sample.php
debug.php
**/.DS_Store
sync
upload
connect
sess_*
.htaccess
**/*.fls
**/*.aux
**/*.idx
**/*.ilg
**/*.ind
**/*.fdb*
**/*.log
**/*.out
**/*.synctex*
**/*.toc
**/*.pdf
**/__latexindent*
