html,
body {
	font-size: 95%;
	font-family: serif;
	max-width: 1200px;
	background-image: none;
}

p{
    text-align: justify;
}

a{
    color: black;
}

dt {
    float: left;
}

dt:after{
    content: ":\00a0";
}

dd{
    margin: 0;
}

nav, footer, a.aiuti, #darkmode-switch, #burger-menu, #closebtn, #contaPersone, #scorriPagine, #logOut, #buttonModifica, #ricerca-utente, #gestione_utenti button, button.eliminaAllenamentoButton{
    display: none;
}

#tornaSu{
    display: none;
}

#breadcrumb{
    display: block;
}

img{
    width: 35%;
}

a:after {
    content: " (http://tecweb.studenti.math.unipd.it/agazi/" attr(href) ") ";
}

a[href^="http"]:after{
    content: " [" attr(href) "] ";
}

abbr:after{
    content: " [" attr(title) "] ";
}

abbr[title]{
    text-decoration: none;
}

/*==================== HOME ====================*/
img#mappa {
    display: block;
}

/*==================== GALLERIA ====================*/
div.galleryGroup{
    page-break-before: always;
}

#salaPesi{
    page-break-before: avoid;
    
}

#salaPesi img{
    width: 32%;
    display: inline;
}

.gallery{
    display: inline;
}

/*==================== TRAINER====================*/
.personalTrainer img{
    width: 15%;
}

article.personalTrainer{
    break-inside: avoid;
}

/*==================== ATTREZZATURE ====================*/
.attrezzature img{
    margin-right: 1em;
    margin-bottom: 1em;
    width: 25%;
}

.attrezzature article{
    break-inside: avoid;
}

#content .attrezzature article h3, #content.attrezzature h2{
    clear: both;
}

/*==================== STORIA ====================*/
#presente{
    page-break-before: always;
}

/*==================== DETTAGLI ALLENAMENTO ====================*/
#dettagliAllenamento a, #dettagliAllenamento button, #dettagliAllenamento #breadcrumb, #dettagliAllenamento #titolo, #dettagliAllenamento #autoDescrizione, #bottoni-allenamenti{
    display: none;
}

#titolo-dettagli-allenamento{
    font-size: 2em;
}

#dettagliAllenamento h1.hide:after{
    content: " - Scheda di Allenamento";
}

#dettagliAllenamento article.dettaglioEsercizio{
    clear: left;
}

#dettagliAllenamento .dettaglioEsercizio h3{
    float: left;

    margin-bottom: 0;
}

#dettagliAllenamento .dettaglioEsercizio p{
    padding-top: 1.3em;
}

#dettagliAllenamento .dettaglioEsercizio h3:after{
    content: ":\00a0";
}

#dettagliAllenamento ul{
    list-style-type: none;
}

#dettagliAllenamento .dettaglioEsercizio ul{
    clear: left;
    padding-left: 0;
}

#dettagliAllenamento .dettaglioEsercizio li{
    float: left;
}

#dettagliAllenamento .dettaglioEsercizio li:after{
    content: "\00a0-\00a0";
}

#dettagliAllenamento .dettaglioEsercizio li.first:before{
    content: "-\00a0";
}

ul#specifiche-utente-dettaglio-allenamento {
    padding-left: 0;
}

ul#specifiche-utente-dettaglio-allenamento li {
    float: left;
}

ul#specifiche-utente-dettaglio-allenamento li:after {
    content: ",\00a0";
}

ul#specifiche-utente-dettaglio-allenamento li.last:after {
    content: ".";
}

#modificaAllenamento label,#modificaAllenamento select {
    display: block;
}